COMPOSEPROJECTNAME=miyagi-backing-services
KAFKABOOTSTRAPSERVERS=<replace_with_your_servicebus_id>.servicebus.windows.net:9093
KAFKASECURITYPROTOCOL=SASL_SSL
KAFKASASLMECHANISM=PLAIN
KAFKATOPICGROUP=order-service
KAFKATOPICNAME=miyagi
KAFKASASLJAASCONFIG=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="<replace_with_your_kafka_password>";
MYSQLURL=jdbc:mysql://<replace>.mysql.database.azure.com/miyagi
MYSQLUSER=miyagi
MYSQLPASSWORD=<replace_with_your_mysql_password>
AZUREREDISHOST=<replace>.redis.cache.windows.net
AZUREREDISPORT=6380
AZUREREDISACCESSKEY=<replace_with_your_redis_access_key>
AZURECOSMOSDBURI=https://miyagi20988gok29744.documents.azure.com:443/
AZURECOSMOSDBKEY=<replace_with_your_cosmos_db_key>
AZURECOSMOSDBSECONDARYKEY=<replace_with_your_cosmos_db_secondary_key>
AZURECOSMOSDBDATABASENAME=miyagi
AZURESTORAGEACCOUNTNAME=miyagi20988gok29744
AZURESTORAGEACCOUNTKEY=<replace_with_your_storage_account_key>
AZURESTORAGEENDPOINT=https://miyagi20988gok29744.blob.core.windows.net
APPLICATIONINSIGHTSPREVIEWPROFILERENABLED=true
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=<replace_with_your_instrumentation_key>;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/
AZUREKEYVAULTCLIENTID=<replace>
AZUREKEYVAULTCLIENTSECRET=<replace_with_your_key_vault_client_secret>
AZUREKEYVAULTENDPOINT=https://miyagispringkv.vault.azure.net/
AZUREKEYVAULTTENANTID=72f988bf-86f1-41af-91ab-2d7cd011db47
SERVICEBUSCONNECTIONSTRING=Endpoint=sb://sbusmiyagi20988gok29744.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<replace_with_your_service_bus_shared_access_key>
POSTGRESQLURL=jdbc:postgresql://miyagi-pg.postgres.database.azure.com:5432/miyagi?sslmode=require
POSTGRESQLUSER=miyagi_user
POSTGRESQLPASSWORD=<replace_with_your_postgresql_password>
AZURE_OPENAI_KEY=<replace_with_your_openai_key>
AZURE_OPENAI_ENDPOINT=https://gk-oai.openai.azure.com/
AZURE_OPENAI_MODEL_ID=gk-gpt-35
