apiVersion: v1
kind: Service
metadata:
  name: miyagi-recommendation-service
  labels:
    app: miyagi-recommendation-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
  selector:
    app: miyagi-recommendation