name: Automate K8s Infra Services - ingress-nginx

on:
  workflow_run:
    workflows:
      - "Automate Service Provisioning with Terraform"
  workflow_dispatch:

env:
  WORKSPACE: ${{ github.ref_name }}
  REPOSITORY: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run Helm
      shell: bash
      run: ./deploy/infrastructure/kubernetes/manifests/10-infrastructure/ingress-nginx/install.sh

    - name: Initialize Terraform
      shell: bash
      run: echo "terraform init"